.main-content {
    position: relative;
    font-family: Arial, sans-serif;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.navbar .search-bar input {
    max-width: 250px;
}

.icon {
    height: 24px;
    background-color: rgba(228, 225, 221, 0.425);
}
